/-- For January.sql
/--practice problem 7.sql
/--union and practice problem 8.sql
/.DS_Store
/.vscode
/3_modify_tables.sql
/ALTER TABLE job_applied.sql
/CREATE TABLE job_applied (.sql
/INSERT INTO job_applied.sql
/SELECT *.sql
/SELECT job_posted_date.sql
/SELECT.sql
/csv_files
/postgres.session.sql